@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero{
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("https://images.unsplash.com/photo-1536064479547-7ee40b74b807?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YWZyaWNhbiUyMGhvc3BpdGFsfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}
.auth-image{
  width: 100vw;
  background: #1a73e895 url("https://media.istockphoto.com/photos/doctor-clicking-on-a-laptop-before-her-picture-id1292777576?b=1&k=20&m=1292777576&s=170667a&w=0&h=Tg1ASn3aw19DgyqjGaaWqJmPeXiDRaU1LW8c83Y5tbw=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  overflow: hidden;
  color: white;
}
.shapes {
  width: 44.8px;
  height: 44.8px;
  color: #474bff;
  position: relative;
}

.shapes:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(from 0deg,  #0000, currentColor 1deg 120deg,#0000 121deg) top right,
         conic-gradient(from 120deg,#0000, currentColor 1deg 120deg,#0000 121deg) bottom,
         conic-gradient(from 240deg,#0000, currentColor 1deg 120deg,#0000 121deg) top left;
  background-size: 44.8px 44.8px;
  background-repeat: no-repeat;
  animation: shapes-r0t0iomd 2s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes shapes-r0t0iomd {
  33% {
     inset: -9px;
     transform: rotate(0deg);
  }

  66% {
     inset: -9px;
     transform: rotate(180deg);
  }

  100% {
     inset: 0;
     transform: rotate(180deg);
  }
}
::-webkit-scrollbar{
  width:5px;
  background: rgba(128, 128, 128, 0.347);
}
::-webkit-scrollbar-thumb{
  border-radius: 12px;
  background: rgb(211, 210, 210);
}
input[type="checkbox"]{
  color: #1a73e8;
}
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
